* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: hsl(217, 54%, 11%);
	font-size: 18px;
    display: grid;
	place-items: center;
}
.parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: auto;
  background-color: hsl(216, 50%, 16%);
  background-size: ;
  border-radius: 10px;
  margin: 100px;
}

.content {
	padding:0px 30px 30px 30px;
}
.image {
  position: relative;
  width: 100%;
  padding-top: 30px;
}
.equilibrium {
	width: 100%;
	height: auto;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 30px;
  height: auto;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: hsl(215, 51%, 70%);

}
.image:hover .overlay {
  opacity: 9;
}
.icon {
  color: white;
  font-size: 100px;
  position: absolute;
  padding-top: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.view:hover {
  color: #eee;
}

h3 {
	color: hsl(0, 0%, 100%);
	padding-top: 20px;
	padding-bottom: 10px;
}
h3:hover{
	cursor: pointer;
	color: hsl(178, 100%, 50%); 
}
.text {
	color: hsl(215, 51%, 70%);
	padding-top: 10px;
	padding-bottom: 10px;
}

.icons {
	padding-top: 10px;
	color: hsl(178, 100%, 50%);
	padding-bottom: 10px;
}
.span {
	color: hsl(215, 51%, 70%);
	float: right;
	margin-left: auto;
}

hr {
	width: 100%;
	color: hsl(215, 32%, 27%);
}
.footer .avatar {
	width : 10%;
	height: 10%;
	padding-top: 20px;
	border-radius: 100%;
}
.down {
	color: hsl(215, 51%, 70%); 
}
.jules {
	color: hsl(0, 0%, 100%);
}
.jules:hover {
	cursor: pointer;
	color: hsl(178, 100%, 50%);
}

/*MEDIA QUERIES*/

@media (max-width: 600px) {
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	body {
		background-color: hsl(217, 54%, 11%);
		font-size: 18px;
        display: grid;
	    place-items: center;
	    width: ; 
	}
	.parent {
	    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 400px;
        height: auto;
        background-color: hsl(216, 50%, 16%);
        border-radius: 10px;
        padding: 100px;
        margin-right: 50px;

	}

}




